[Unit]
Description=telnetcon

[Service]
Type=oneshot
User=telnetuser
ExecStart=/home/telnetuser/telnet.py
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=default.target